*{
    margin: 0px;
    padding: 0px;
    
}
#tophead{
    width: 100%;
    height:50px ;
    background-color: black;
    display: flex;
    justify-content: space-between;
}
#tophead div{
    margin-top: 10px;
    color: white;
}
#navbar{
    width: 100%;
    display: flex;
    justify-content: space-between;
}



#navbar nav ul li{
    display: flex;
    list-style: none;

}